.section__button {
    background-color: rgb(163, 145, 154);
    color:#040302cb;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin: 5px;
}

.section__button:hover {
    background-color:hsl(218, 62%, 85%);
    color:#555;
}