.section__button {
    background-color: rgba(175, 154, 164, 0.37);
    color:#040302cb;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 9px;
    margin: 5px;
    border-top: rgb(160 71 211);
    border-left: rgb(160 71 211) 1px;

}

@media (max-width:375px) {
    .section__button {
        font-size: 10px;
    }
}

.section__button:hover {
    background-color:hsl(218, 62%, 85%);
    color:#555;
}