.container {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 1px 5px 95px -37px #ff0f57;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.6;
    margin: 50px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

@media (max-width:200px) {
    .container {
        margin: 0;
    }
    
}

@media (max-width:700px) {
    .container {
        margin: 0;
    }
    
}

