.header__title {
    color: #297c06cc;
    margin-left: 0px;
    padding: 2%;
    font-size: 20px;
    text-align: center;
}

@media (max-width:375px) {
    .header__title {
        font-size: 10px;
    }
}


.section__header {
    padding: 10px;
    margin-bottom: 5px;
    color: #9b7337;
    font-size: 20px;
    text-align: center;
}

