.navigation {
    text-align: center;
    background-color: #eee;
    border-style: none;
    border-radius: 10px;
    box-shadow: 1px 5px 95px -37px #ff0f57;
    padding: 12px;
}

.navigation__item {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.navigation__link {
    color:#040302cb;
    font-weight: none;
    font-size: 15px;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 375px) {
    .navigation__link {
        width: 90%;
        font-size: 8px;
    }
}

.navigation__link--button {
    background-color: rgba(175, 154, 164, 0.37);
    border-radius: 10px;
    border-top: rgb(160 71 211);
    border-left: rgb(160 71 211) 1px;

}

.navigation__link--button:hover {
    background-color:hsl(218, 62%, 85%);
    color: #040302;
}

