.navigation {
    text-align: center;
    background-color: #eee;
    border-style: none;
    border-color: #E0EFD2;
    border-radius: 10px;
    box-shadow: 1px 5px 95px -37px #ff0f57;
    padding: 12px;
}

.navigation__item {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 400px) {
    .navigation__item {
        flex-wrap: wrap;
    }
}

.navigation__link {
    color:#040302cb;
    font-weight: none;
    font-size: 15px;
    margin: 0px;
    padding: 10px;
}

.navigation__link--button {
    background-color: rgb(163, 145, 154);
    border-radius: 5px;
    border-color: gray;
    border-style: none;
}

.navigation__link--button:hover {
    background-color:hsl(218, 62%, 85%);
    color: #040302;
}

